* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}


/* container */
.container {
    width: 100%;
    max-width: 500px;
}

/* todo app  */
.todo_app {
    background-color: white;
    /* background-color: red; */
    border-radius: 10px;
    overflow: hidden;
    /* border: 2px solid black; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    /* width: 55vw; */

}

.todo_header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.todo_header h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 0.8rem;
    opacity: 0.8;
}


/* input container  */
.todo_input_container {
    display: flex;
    gap: 10px;
    border: 1px solid rgb(235, 229, 229);
    padding: 20px;
}

.todo_input {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #bababa;
    border-radius: 4px;
    outline: none;
}

.todo_input:focus {
    border-color: #333;
}

/* add btn  */
.add_btn {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.add_btn:hover {
    background: #555;
}

/* filter section  */
.filter-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    background: #fafafa;
}

.filter-btn {
    padding: 6px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.filter-btn:hover {
    background: #f5f5f6;
}

.filter-btn.active {
    background-color: #333;
    color: white;
    border-color: #333;
}

/* todo list  */
.todo-list {
    list-style: none;
    max-height: 400px;
    overflow-y: auto;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid rgb(235, 229, 229);
    
}

.todo-item:hover {
    background: #fafafa;
}

.todo-item.completed {
    opacity: 0.6;
}

.todo-checkbox {
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

.todo-text {
    flex: 1;
    font-size: 16px;
    color: #333;
}

.todo-item.completed .todo-text {
    text-decoration: line-through;
    color: #999;
}

/* x delete btn  */
.delete-btn {
    width: 28px;
    height: 28px;
    background: transparent;
    color: #999;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    line-height: 1;
    opacity: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.todo-item:hover .delete-btn {
    opacity: 1;
}

.delete-btn:hover {
    background: #f5f5f6;
    color: #333;
}


/* footer section  */
.todo-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #fafafa;
    border-top: 1px solid rgb(235, 229, 229);
}

.item-left {
    color: #666;
    font-size: 14px;
}

.clear-completed {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #666;
}

.clear-completed:hover {
    background: #f5f5f6;
}

/* it will remove scrolling style */
.todo-list::-webkit-scrollbar {
    width: 6px;
}

/* adding full scroll line  */
.todo-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* adding new line in scollbar to highlight  */
.todo-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}


.todo-list::-webkit-scrollbar-thumb:hover {
    background: #999;
}

@media (max-width: 650px) {
    .todo_header h1 {
        font-size: 1.5rem;
    }

    .todo_header.subtitle {
        font-size: 0.7rem;
    }

    .todo_input_container{
        flex-direction: column;
    }

    .add_btn {
        width: 100%;
        justify-content: center;
    }

    .filter-container{
        flex-wrap: wrap;
    }

    .todo-item{
        padding: 15px 20px;
    }
}